# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Diretorios do sistema operacional
.DS_Store
Thumbs.db

# Editor de código
.vscode/
.idea/

# Arquivos temporários
*.tmp
*.swp
